parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Class Moselwal\\KeyValueStore\\.+ not found#'
        - '#Instantiated class Helhum\\ConfigLoader\\.+ not found#'
        - '#unknown class Helhum\\ConfigLoader#'
        - '#Unsafe usage of new static\(\)#'
        - '#should return static\(Moselwal\\Config\) but returns Moselwal\\Config#'
        - '#Variable \$redisCaches on left side of \?\? is never defined#'
        - '#Variable \$apcuCaches on left side of \?\? is never defined#'
